@model Classes.Contract_Type

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Contract Type</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Title)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Title,new { htmlAttributes = new { @class = "form-control col-md-4",@readonly="readonly",@disable="disable" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Title, "New Title", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.Editor("NewTitle", new { htmlAttributes = new { @class = "form-control col-md-4" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.RadioButton("Duration", true, Model.Duration) Limited <text>    </text>  
                @Html.RadioButton("Duration", false) UnLimited
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btnSave" />
        </div>
    </div>
    <div class="card-body table-responsive p-0" style="height: 70vh;">
        <table >
            <tr>
                <th>Employee</th>
                <th>Contract Start</th>
                <th>Contract End</th>
                <th>Document</th>
                <th></th>
            </tr>
            <tbody>
                @foreach (var item in ViewBag.Contracts as List<Classes.Contract>)
                {
                    <tr>
                        <td>@item.Employee_NIC</td>
                        <td>@item.Start</td>
                        <td>@item.End</td>
                        <td><a href="../../Content/Document/@item">Contract</a></td>
                        <td> @Html.ActionLink("Edit", "Edit", "Contracts", new { id = item.Employee_NIC })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}

<div>
    @Html.ActionLink("  Back to List", "Index", null, new { @class = "LinkBack" })
</div>
