@model Classes.Producer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneN)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @if (Model.Name.CompareTo("Unknown") != 0)
    { 
        <input type="submit" value="Delete" class="btnDelete" /> 
        Html.ActionLink("Edit", "Edit", new { id = Model.Name }, new { @class = "btnEdit" });
    }

<br /><br />
@Html.ActionLink("  Back to List", "Index", null, new { @class = "LinkBack" })
</div>
    }
    <p>Products</p>
    <div class="card-body table-responsive p-0" style="height: 30vh;">
        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                </th>
            </tr>
            <tbody>
                @foreach (var item in ViewBag.Products as List<Classes.Product>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Product_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Category_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Price)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", "Products", new { id = item.ID }, new { @class = "LinkEdit" }) 
                            @Html.ActionLink(" ", "Delete", "Products", new { id = item.ID }, new { @class = "LinkMore" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
