@model Classes.Department

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Department</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time_Work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Work)
        </dd>

        <dt>
            Access
        </dt>

        <dd>
            <ul class="list-group list-group-flush">
                @foreach (System.Reflection.PropertyInfo prop in typeof(Classes.Department).GetProperties())
                {
                    if (prop.PropertyType == typeof(Boolean))
                    {
                        if (((Boolean)prop.GetValue(Model)))
                        {
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" checked disabled="disabled">
                                    <label class="custom-control-label">@prop.Name</label>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btnDelete" />
    <br /><br />
    @Html.ActionLink("  Back to List", "Index", null, new { @class = "LinkBack" })
</div>
    }
</div>
