@model Classes.Models.PassWord

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Password("Password")
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control col-md-2 d-inline" } })

            @Html.Password("NewPassword")
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RetypeNewPassword, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.Password("RetypeNewPassword")
            @Html.ValidationMessageFor(model => model.RetypeNewPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btnSave" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("  Back", "UserProfile", null, new { @class = "LinkBack" })
</div>

@section Scripts{
    <script>
        $("input[type='password']").val("")
        $("input[type='password']").prop("class","form-control col-md-4")
        $(function () {
            $("form").submit(function () {
                var nps = $("input[name='NewPassword']").val()
                var rps = $("input[name='RetypeNewPassword']").val()
                if (nps.localeCompare(rps)) {
                    alert('Confirm Passwords do not match')
                    return false;
                }
            })    
        })
    </script>
    }
