@model Classes.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card-body table-responsive p-0" style="height: 60vh;">
        <table>
            <thead>
                <tr>
                    <th>
                        Product ID
                    </th>
                    <th>
                        Picture
                    </th>
                    <th>
                        Prduct Name
                    </th>
                    <th>
                        Producer
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Selling Price
                    </th>
                    <th>
                        Stock Quantity
                    </th>
                    <th>
                        Purchasing Price
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Product ID
                    </th>
                    <th>
                        Picture
                    </th>
                    <th>
                        Prduct Name
                    </th>
                    <th>
                        Producer
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Selling Price
                    </th>
                    <th>
                        Stock Quantity
                    </th>
                    <th>
                        Purchasing Price
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control col-md-6" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="datetime-local" name="Date" value="@Model.Date.ToString("s")" class="datetimepicker form-control col-md-4" />
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidAmount, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                @Html.ValidationMessageFor(model => model.PaidAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control col-md-4 d-inline", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                <input type="button" id="GetTotal" value='Calculate' class="btn btn-info d-inline" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Arrived To Stock", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Done", (Boolean)ViewBag.Done)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Change Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("ChangeQuantity", false)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" id="btnSave" class="btnSave" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("  Back to List", "Index", null, new { @class = "LinkBack" })
</div>

@section Scripts{
    <script>
        $(function () {

            LoadProducts();
            if (!$("input[name='Done']").is(':checked')) {
                $("input[name='ChangeQuantity']").prop('disabled', true);
            }

        $("input[name='Done']").change(function () {
            if ($(this).is(':checked')) {
                $("input[name='ChangeQuantity']").prop('disabled', !true);
            } else {
                $("input[name='ChangeQuantity']").prop('disabled', true);
                $("input[name='ChangeQuantity']").prop('checked', false);
            }
        })
            $("#btnSave").click(function () {
                var Products = [];
                var rows = $("table > .tbody > tr")
                for (var i = 0; i < rows.length; i++) {
                    var Product = {};
                    Product.ID = $(rows[i]).find('td:eq(0)').text()
                    Product.PurchasePrice = $(rows[i]).find('td:eq(7)').children("input").val()
                    Product.OrderQuantity = $(rows[i]).find('td:eq(8)').children("input").val()
                    Products.push(Product)
                }
                $.ajax({
                type: "POST",
                url: '@Url.Action("SetProducts")',
                data: '{products:' + JSON.stringify(Products) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                },
                error: function () {
                    alert("Error while inserting data");
                }
            })
            })
        $("#GetTotal").click(function () {
            var rows = $("table > .tbody > tr")
            var total = 0;
            for (var i = 0; i < rows.length; i++) {
                total += $(rows[i]).find('td:eq(7)').children("input").val() * $(rows[i]).find('td:eq(8)').children("input").val()
            }
            $("#TotalAmount").val(total)

        })

        function LoadProducts() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetProducts")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var tblhtml = '';
                    $.each(data, function (key, item) {
                        tblhtml += '<tr>'
                            + '<td>' + item.ID + '</td>'
                            + '<td><img src="../../Content/Images/Products/' + item.Image + '" alt="Alternate Text" width="50" height="50" class="img-thumbnail" /> </td>'
                            + '<td>' + item.Name + '</td>'
                            + '<td>' + item.Category + '</td>'
                            + '<td>' + item.Producer + '</td>'
                            + '<td>' + item.SellingPrice + '</td>'
                            + '<td>' + item.StockQuantity + '</td>'
                            + '<td><input type="text" value="' + item.PurchasePrice + '" name="PurchasePrice" class ="form-control col" /></td>'
                            + '<td><input type="number" value="' + item.OrderQuantity + '" name="OrderQuantity" class ="form-control col" /></td>'
                            + '</tr>'
                    })
                    $('.tbody').html(tblhtml);
                },
                error: function () {
                    alert("Error while inserting data");
                }
            })
        }
    })
    </script>

}


